
*{
  padding: 0;
  margin: auto;
  box-sizing: border-box;

}
body{
  background-image: url(https://i.pinimg.com/originals/39/1f/67/391f67cbc1abcbcae7f45cf237350330.jpg);
}
header{
  text-align: center;
  padding: 5px 15px;
  border: 3px double rgb(89, 84, 114);
  margin: 10px;
  color: rgb(223, 184, 12);
  background-color: black;
}

.menu {
  overflow: hidden;
  background-color: rgb(124, 27, 27);
  margin: 10px;
}
nav.menu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.menu a:hover {
  background-color: #ddd;
  color: rgb(20, 19, 5);
}

tr {
  display: block;
  margin-left: 50%;
  margin-right: 50%;
}
h2{
  text-align: left;
  color: red;
  text-align-last: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3{
  padding: 10px;
  color: rgba(122, 58, 6, 0.747);
  font-size: 20px ;
  margin: 10px;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
  padding: 10px;
  color: rgb(216, 138, 20);
  font-size: 20px ;
  margin: 10px;
  text-align: justify;
  text-decoration-style: solid;
  text-size-adjust: 100px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
}

img{
  margin-left: auto;
  margin-right: auto;
}
.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

  } 

